*{
    margin: 0px;
    padding: 0px;
}

.container-fluid header {
    width: 100%;
}

.container-fluid header .box span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.container-fluid header .box {
    background-color:#ADC9A6;
    
}
.container-fluid  .section-3 .row .col-4 {
    padding: 0px 30px 0px 30px;
}
.container-fluid  .section-3 .row .col-4  h4{
  margin: 30px 0px 50px 0px;
}



.container-fluid  .section-4 .row .col-4 {
    padding: 0px 30px 0px 30px;
}
.container-fluid  .section-4 .row .col-4  h4{
  margin: 30px 0px 50px 0px;
}


.container-fluid  .section-4 .row .col-4 {
    padding: 0px 30px 0px 30px;
}
.container-fluid  .section-4 .row .col-4  h4{
  margin: 30px 0px 50px 0px;
}
